
<table id="myTable" class="tablesorter-blue">
  <thead>
    <tr>
      <th><span>Role</span></th>
      <th><span>Lines Spoken</span></th>
      <th><span>Longest Speech</span></th>
      <th><span>Number of Scenes</span></th>
      <th><span>Percentage of Scenes</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Caeser</td>
      <td>6,000</td>
      <td>190 lines</td>
      <td>31</td>
      <td>78.3%</td>
    </tr>
    <tr>
      <td>Pompey</td>
      <td>4,000</td>
      <td>110 lines</td>
      <td>22</td>
      <td>47.8%</td>
    </tr>
  </tbody>
</table>
